<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>仁知数字链商品管理系统</title>
    <link rel="stylesheet" href="../../public/css/back-stageManagement.css">
</head>

<body>
    <div class="box">
        <!-- left -->
        <div class="left">
            <div class="logotop">
                <img src="../../public/img/logo.png" alt="">
                <h3>仁知数字链</h3>
                <h3>商品管理系统</h3>
            </div>
            <ul>
                <li>
                    <p class=" li list"> <img src=" ../../public/img/01.png" alt=""> 商户管理</p>
                    <ul>
                        <li onclick="hut1()">-出库管理</li>
                        <li onclick="hut2()">-入库管理</li>
                    </ul>
                </li>
                <li>
                    <p class="li"> <img src="../../public/img/02.png" alt=""> 商品管理</p>
                    <ul>
                        <li>-出库管理</li>
                        <li>-入库管理</li>
                    </ul>
                </li>
                <li>
                    <p class="li"> <img src="../../public/img/03.png" alt=""> 印刷厂管理</p>
                    <ul>
                        <li>-出库管理</li>
                        <li>-入库管理</li>
                    </ul>
                </li>
                <li>
                    <p class="li"> <img src="../../public/img/04.png" alt=""> CN39管理</p>
                    <ul>
                        <li>-出库管理</li>
                        <li>-入库管理</li>
                    </ul>
                </li>
                <li>
                    <p class="li"> <img src="../../public/img/05.png" alt=""> 仓库管理</p>
                    <ul>
                        <li>-出库管理</li>
                        <li>-入库管理</li>
                    </ul>
                </li>
                <li>
                    <p class="li"> <img src="../../public/img/06.png" alt=""> 经销商管理</p>
                    <ul>
                        <li>-出库管理</li>
                        <li>-入库管理</li>
                    </ul>
                </li>
                <li>
                    <p class="li"> <img src="../../public/img/07.png" alt=""> 消费者管理</p>
                    <ul>
                        <li>-出库管理</li>
                        <li>-入库管理</li>
                    </ul>
                </li>
                <li>
                    <p class="li"> <img src="../../public/img/08.png" alt=""> 统计</p>
                    <ul>
                        <li>-出库管理</li>
                        <li>-入库管理</li>
                    </ul>
                </li>
                <li>
                    <p class="li"> <img src="../../public/img/09.png" alt=""> 系统</p>
                    <ul>
                        <li>-出库管理</li>
                        <li>-入库管理</li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- right -->
        <div class="right">
            <header>
                <div><img src="../../public/img/user.png" alt=""><span>admin</span>您好！欢迎使用本系统</div>
                <div><span>超级管理员</span>丨<span><img src="../../public/img/quit.png" alt="">退出</span></div>
            </header>
            <iframe src="./ht1.html" frameborder="0"></iframe>
        </div>
    </div>
</body>

</html>
<script src="../utils/jquery-min.js"></script>
<script src="../utils/mock-min.js"></script>
<script src="../utils/md5.js"></script>
<script src="../utils/time.js"></script>
<script src="../components/back-stageManagement.js"></script>
<script src="../api/back-stageManagementh.js"></script>