<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/font/font_3946733_mnji0vt08i/iconfont.css">
    <link rel="stylesheet" href="../../public/css/presentationPage.css">
    <link rel="stylesheet" href="../../public/css/index.css">
</head>

<body>
    <div class="box">
        <header>
            <img src="../../public/img/header.png" alt="">
        </header>
        <div class="btimg">
            <p>傲慢与偏见 世界名著典藏</p>
            <img src="../../public/img/book.png" alt="">
        </div>
        <div class="pss">
            <p><span>图书名称</span><span>傲慢与偏见 世界名著典藏</span></p>
            <p><span>ISBN码</span><span>9787511726155</span></p>
            <p><span>作者</span><span>(英)奥斯丁著，罗良功 译</span></p>
            <p><span>出版社</span><span>中央编译出版社</span></p>
            <p><span>出版时间</span><span>2015年04月</span></p>
            <p><span>价格</span><span>￥17.00</span></p>
            <p><span>图书分类</span><span>金融管理</span></p>
            <div class="flexss">
                <div>
                    <p>产品身份证</p>
                    <p>(经国密算法认证)</p>
                </div>
                <div>
                    <p>2015092000117</p>
                    <p>0186304685920</p>
                    <p>6935173700263</p>
                </div>
            </div>
            <p><span>商品状态</span><span style="color: red;">已售</span></p>
            <div class="tushuxiangqingtushujianjie">
                <p>图书详情</p>
                <p>内容简介</p>
                <p>这是英国著名女作家简·奥斯丁的代表作，是一部描写爱情与婚姻的小说。这部小说以男女主人公达西和伊丽莎白由于傲慢和偏见而产生的爱情纠葛为线索，共写了四起姻缘，小说情节曲折，富有戏剧性，语言清新流畅，充满机智，是奥斯丁*受欢迎的一部小说。
                </p>
            </div>
        </div>
        <hr>
        <div class="fot">
            <p>追溯信息</p>
            <div class="flex1">
                <!-- left -->
                <div class="nantu">
                    <img class="imgdw1" src="../../public/img/椭圆 1.png" alt=""><img class="imgdw2"
                        src="../../public/img/椭圆 1.png" alt=""><img class="imgdw3" src="../../public/img/椭圆 1.png"
                        alt="">
                </div>
                <!-- right -->
                <div class="rightzhu">
                    <div>
                        <img src="../../public/img/user1.png" alt="">
                        <div>
                            <p><span>86188****4356</span><span>物权人</span></p>
                            <p>2015-10-23 16:37:05</p>
                        </div>

                    </div>
                    <div>
                        <img src="../../public/img/user1.png" alt="">
                        <div>
                            <p><span>北京兰兴达图书</span><span>经销商</span></p>
                            <p>北京市大兴区黄村镇李村王桂路11号</p>
                            <p>2015-10-2316:37:05</p>
                        </div>

                    </div>
                    <div>
                        <img src="../../public/img/user1.png" alt="">
                        <div>
                            <p><span>相关名称可后期添加</span><span>出版社</span></p>
                            <p>北京市大兴区黄村镇李村王桂路11号</p>
                            <p>2015-10-2316:37:05</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="fgweibangding">
            <p>该商品未绑定，拥有者可进行物权绑定。</p>
        </div>
        <main>
            <p
                style="text-align: left; margin: 0px auto; width: 30rem; font-weight: 600; font-size: 1.4rem; margin-top: 1.5rem; color: #5c5c5c;">
                读者资料</p>
            <div class="main">
                <p><input type="text" placeholder="姓名"></p>
                <p><input type="text" placeholder="电话"></p>
                <select id="province" name="province"></select>
                <select id="city" name="city"></select>
                <p><input type="text" placeholder="详细地址"></p>
                <button>提交</button>
            </div>
        </main>
        <footer>
            <div class="icontz1"><span class="iconfont icon-shouye" style="color: #437EF5;"></span>
                <p style="color: #437EF5;">首页</p>
            </div>
            <div class=" icontz2"><span class=" iconfont icon-changongxiao_huoquanzhuanyi"></span>
                <p>转移物权码</p>
            </div>
            <div class="icontz3"><span class=" iconfont icon-xiugai"></span>
                <p>修改物权码</p>
            </div>
            <div class="icontz4"><span class=" iconfont icon-31mima"></span>
                <p>找回物权码</p>
            </div>
        </footer>
    </div>

</body>

</html>
<script src=" ../utils/jquery-min.js"></script>
<script src="../utils/rem.js"></script>