<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/font/font_3946733_mnji0vt08i/iconfont.css">
    <link rel="stylesheet" href="../../public/css/presentationPage.css">
</head>

<body>
    <div class="box">
        <header>
            <img src="../../public/img/header.png" alt="">
        </header>
        <main>
            <h1>修改物权码</h1>
            <p style="margin: 10px 0px;">修改后请牢记并妥善保管新物权码</p>
            <div class="main">
                <p><input type="text" placeholder="原物权码"></p>
                <p><input type="text" placeholder="新物权码"></p>
                <p><input type="text" placeholder="确认新物权码"></p>
                <p> <input type="text" placeholder="验证码" class="yzm"><img src="../../public/img/图层 12.png" alt=""></p>
                <button>确认</button>
            </div>
        </main>
        <footer>
            <div class="icontz1"><span class="iconfont icon-shouye""></span><p>首页</p></div>
            <div class=" icontz2"><span class=" iconfont icon-changongxiao_huoquanzhuanyi"></span>
                    <p>转移物权码</p>
            </div>
            <div class="icontz3"><span class=" iconfont icon-xiugai" style="color: #437EF5;"></span>
                <p style="color: #437EF5;">修改物权码</p>
            </div>
            <div class="icontz4"><span class=" iconfont icon-31mima"></span>
                <p>找回物权码</p>
            </div>
        </footer>
    </div>

</body>

</html>
<script src=" ../utils/jquery-min.js"></script>
<script src="../utils/rem.js"></script>