<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            width: 80%;
            margin: 0px auto;
            text-align: center;
        }

        h2 {
            text-align: center;
        }
    </style>
</head>

<body>
    <h2>用户信息一览表</h2>
    <table border="1px solid #rgb(112, 112, 112)" border-collapse="0" border-spacing="0">
        <!-- <tr>
            <th>用户名</th>
            <th>密码</th>
            <th>注册时间</th>
            <th>最后登录时间</th>
        </tr> -->
        <!-- <tr>
            <td>11</td>
            <td>11</td>
            <td>11</td>
            <td>11</td>
        </tr> -->
    </table>
    <div style="width: 80%;margin: 20px auto; color: rgb(255, 94, 94); font-size: 14px;">先找到并复制密码然后-----><button
            class="md5" style="float: right;">解md5</button>
    </div>

</body>

</html>
<script src="../utils/jquery-min.js"></script>
<script src="../utils/mock-min.js"></script>
<script src="../utils/md5.js"></script>
<script src="../utils/time.js"></script>
<script src="../components/retrievePassword.js"></script>
<script src="../api/retrievePasswordh.js"></script>